# Default ignored files
/shelf/
/workspace.xml

# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.AdventOfCode2024.iml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Visual Studio/JetBrains Rider specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build artifacts
bin/
obj/

# Inputs and outputs
Data/Inputs/
resultDay2Problem2.txt